@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

// Variables
// Font
$Poppins: "Poppins", sans-serif;

// Color
$primary: rgb(0, 157, 174); // #009dae
$p-dark: rgb(0, 110, 127); // #006e7f
$p-light1: rgb(99, 206, 224); // #63cee0
$p-light2: rgb(194, 255, 249); // #c2fff9
$secondary: rgb(255, 230, 82); // #ffe652
$s-dark: rgb(201, 180, 22); // #c9b416
$s-light: rgb(255, 255, 133); // #ffff85

$light: rgb(243, 242, 242); // #f3f2f2
$dark: rgb(0, 0, 0); // #000
$gray: rgb(155, 159, 151); // #979f97

// Spacing
$spacing-md: 16px;
$spacing-lg: 16px;

// Border Radius
$borderRadius: 12px;

// Header height
$headerHeight: 3rem;

//  Layout height
$layoutHeight: calc(100vh - $headerHeight);

// Title
@mixin title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  @include breakpoint(md) {
    font-size: calc(3vw + 14px);
  }
}

// Subtitle
@mixin sub {
  font-size: 1.25rem;
  font-weight: 400;

  @include breakpoint(md) {
    font-size: calc(3vw + 2px);
  }
}

//  Long text
@mixin longText {
  padding: 12px;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.75rem;
  text-align: justify;
}

// Button
@mixin btn {
  height: 50px;
  cursor: pointer;
  border: 1px solid $primary;
  font-size: 15px;
  font-weight: 600;
  color: $p-dark;
  background-image: linear-gradient(
    to bottom,
    $s-light 0%,
    $secondary 51%,
    $s-dark 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 100% auto;
  box-shadow: $boxShadow;
  transition: all 0.3s ease-in-out;
  border: 1px solid #bdbfba;

  &:hover {
    background-image: linear-gradient(
      to top,
      $s-light 0%,
      $secondary 51%,
      $s-dark 100%
    );
    color: $p-light1;
    text-decoration: none;
  }
  &:active {
    box-shadow: none;
  }
}

// Shadows
$boxShadow: 0px 2px 3px 1px rgba($dark, 0.5);

@mixin textShadow {
  text-shadow: 0px 1.2px 1.3px $light;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}

//  Breakpoints
@mixin breakpoint($point) {
  @if $point == md {
    //   48em = 768px
    @media (min-width: 48em) {
      @content;
    }
  }
  @if $point == xl {
    //   90em = 1440px
    @media (min-width: 90em) {
      @content;
    }
  }
}
