@import "./../../styles/variables.scss";

.a {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &__left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 100%;
    @include breakpoint(md) {
      background-color: $primary;
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
      margin: 20px;
    }

    &__where {
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 1.5rem;
      @include breakpoint(md) {
        display: flex;
      }
      h4 {
        margin: $spacing-md;
      }
    }

    &__card {
      position: static;
    }
    &__btnCv {
      @include btn;
      padding: 10px;
      border-radius: $borderRadius;
      width: 80%;
    }
  }

  &__right {
    flex: 3;
    justify-content: space-around;
    font-size: 16px;
    margin: 10px;

    &__title {
      font-weight: 600;
    }
  }
  @mixin p {
    font-weight: 200;
    font-size: 16px;
    line-height: 1.2;
  }

  &__know {
    display: none;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    @include breakpoint(md) {
      display: flex;
    }

    &__texts {
      width: 72.5%;
      height: 100%;
      margin: 0 10px;

      &_desc {
        @include p;
      }
    }
  }
  &__title {
    font-size: 2rem;
    font-weight: 800;
    color: $primary;
  }
}
