@import "./../../styles/variables.scss";

.a {
  height: $layoutHeight;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  @include breakpoint(md) {
    // scroll-snap-align: center;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &__left {
    flex: 2;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 100%;
    padding: 10px;
    @include breakpoint(md) {
      background: linear-gradient(to top, $p-dark, $primary, $p-light1);
      border-radius: $borderRadius;
      box-shadow: $boxShadow;
      margin: 10px;
    }

    &__where {
      flex: 1;
      width: 280px;
      margin: 10px;
      display: none;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      font-size: 1.5rem;
      @include breakpoint(md) {
        display: flex;
        font-size: 1.2rem;
      }
      h4 {
        margin: $spacing-md;
      }
    }

    &__card {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      // flex: 1;
      // align-content: center;
    }
    &__btnCv {
      @include btn;
      padding: 10px;
      border-radius: $borderRadius;
      width: 80%;
    }
  }

  &__right {
    flex: 3;
    justify-content: space-around;
    font-size: 16px;
    margin: 10px;
    width: 92%;

    &__title {
      font-weight: 600;
    }
    &__desc {
      @include longText;
      text-align: justify;
    }
  }
  @mixin figcaption {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.2;
  }

  &__know {
    display: none;
    margin-top: 25px;
    align-items: center;
    justify-content: center;

    @include breakpoint(md) {
      display: flex;
    }

    &__texts {
      min-width: inherit;
      width: 72.5%;
      height: 100%;
      margin: 0 10px;

      &__desc {
        @include longText;

        // @include breakpoint(md) {
        //   // max-width: none;
        // }
      }
    }
  }
  &__title {
    font-weight: 800;
    color: $primary;
    font-size: 1.4rem;

    @include breakpoint(md) {
      font-size: 2rem;
    }
  }
}
