* {
  margin: 0;
  padding: 0;
}

.c {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.c-bg {
  width: 2%;
  height: auto;
  left: 0;
  background-image: linear-gradient(
    to top,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  position: absolute;
}
.c-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.c-title,
.c-sub {
  margin: 10px;
  width: 100%;
  white-space: nowrap;
  font-size: 3vw;
  font-weight: 700;
  text-align: center;
}
.c-wrapper {
  margin: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
}

.c-left,
.c-right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.c-sub {
  font-size: 2em;
  font-weight: 500;
}
.c-desc {
  width: 90%;
  height: auto;
  margin: 10px;
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
  text-align: justify;
}
.c-icon {
  margin: 10px;
  width: 45vw;
  height: auto;
  max-width: 680px;
  max-height: 820px;
}

form {
  width: 45vw;
  height: 100%;
  margin: 20px;
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: left;
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  border-bottom: 1px solid #f28705;
  background-color: #f5ede3;
  padding-left: 10px;
  margin: 10px 0;
  outline: none;
  width: 50%;
  height: 50px;
  font-size: 1em;
  line-height: 1;
  background-color: transparent;
}
textarea {
  flex-grow: 2;
  font-family: inherit;
  resize: none;
  width: 90%;
  height: 100px;
  margin: 10px;
  font-size: 14px;
  padding-left: 10px;
  margin: 10px 0;
}

input[type="submit"] {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}

input[type="submit"] {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
}

input[type="submit"] {
  border: none;
  padding: 15px 45px;
  text-align: center;
  font-size: 1em;
  background-color: #6699ff;
  background-size: 200% auto;
  box-shadow: 0 0 5px #121212;
  border-radius: 15px;
  display: block;
  color: #f5ede3;
  width: 90%;
  margin: 10px 0;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
input[type="submit"]:hover {
  background-position: top center;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 1023px) {
  .c {
    width: 100vw;
    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .c-section {
    flex-grow: 2;
  }
  .c-wrapper {
    flex-direction: column;
  }
  .c-title,
  .c-sub {
    width: 90%;
    white-space: pre-wrap;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
  }
  .c-desc {
    width: 90vw;
  }
  .c-right {
    width: 100%;
    height: 100%;
  }
  form {
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
  }
}
