@import "./../../styles/variables.scss";

.tt {
  width: 50px;
  height: 25px;
  border-radius: 20px;
  border: 1px solid #bdbfba;
  background-color: #575855;
  position: sticky;

  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset $boxShadow;
  &__icon {
    width: 15px;
    height: 15px;
    opacity: 1;
  }
  &__button {
    @include btn;
    // box-shadow: $boxShadow;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid $p-dark;

    transition: 0.5s;
    background-size: 100% auto;
    color: #111;
    display: block;
    position: absolute;
    cursor: pointer;
  }
}
