@import "../../styles/variables.scss";

.tl {
  width: 50px;
  height: 25px;
  margin: 50px 25px;
  border-radius: 20px;
  border: 1px solid #bdbfba;
  background-color: #575855;
  position: sticky;
  z-index: 999;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  &__btnEs {
    @include btn;
    border-radius: 25px 0 0 25px;
    width: 25px;
    height: 25px;
  }

  &__btnEn {
    @include btn;
    border-radius: 0 25px 25px 0;
    width: 25px;
    height: 25px;
  }
}
